<html> 

<head>    
  <%- include('partials/_header'); -%>

  </head>

<title>Taxperia Bot</title>
<body>
  <div class="heading">
    <h1 class="display-5 title">Ücretli Abonelikler</h1>
    <p class="subtitle">Taxperia botu için aşağıda verilen ücretli planlar botumuzda kullanmak için premium üye olmalısın gibi uyarılar veren komutları kullanmanızı sağlayaktır. Bildiğiniz gibi sizler için uğraşıyoruz ve bu uğraşımızın karşılığı olarak bazı komutlarımıza premium üye zorunluluğu getirmek zorunda kaldık. Ama hemen üzülmeyin. Premium üyeliği herkes alabilsin diye fiyatları oldukça indirdik. Bu sayede çok ucuz fiyata premium sahibi olabileceksin. Hadi biraz aşağıdaki planlara bakalım. </p>
    <a class="btn btn-primary btn-lg" href="https://discord.com/oauth2/authorize?client_id=693134673450106890&scope=bot&permissions=940846142" target="_blank" role="button">Davet Et</a>
    <a class="btn btn-secondary btn-lg" href="https://discord.gg/wRbgTkVVB2" target="_blank" role="button"><i class='bx bxl-discord-alt bx-xs' style='color:#ffffff'></i>Destek Sunucusu</a>
    <br /><br /><br /><br /><br /><br />
</div>

<div class="features">
    <div class="title">Abonelikler</div>
    <div class="subtitle"></div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ücretli Plan 1</h5> 
          <p class="card-text"> <i class="fas fa-angle-double-right"></i> 1 aylık premium <br></br> <i class="fas fa-angle-double-right"></i> 1 aylık gold üyelik <br></br> <i class="fas fa-angle-double-right"></i> Tüm premium gerektiren komutları kullanabilme <br></br> <i class="fas fa-angle-double-right"></i> 4,99₺ / aylık</p>
        <a type="button" class="btn login-btn btn-outline-accent my-2 my-sm-0" href="https://discord.gg/wRbgTkVVB2" style="font-size: 10px !important;font-family: poppins !important;"><i class="fas fa-lira-sign "></i> Satın al</a>
  </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ücretli Plan 2</h5>
                 <p class="card-text"> <i class="fas fa-angle-double-right"></i> 3 aylık premium <br></br> <i class="fas fa-angle-double-right"></i> 2 aylık gold üyelik <br></br> <i class="fas fa-angle-double-right"></i> Tüm premium gerektiren komutları kullanabilme <br></br> <i class="fas fa-angle-double-right"></i> 9,99₺ / 3 aylık</p>
        <a type="button" class="btn login-btn btn-outline-accent my-2 my-sm-0" href="https://discord.gg/wRbgTkVVB2" style="font-size: 10px !important;font-family: poppins !important;"><i class="fas fa-lira-sign "></i> Satın al</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ücretli Plan 3 </h5>
                <p class="card-text"> <i class="fas fa-angle-double-right"></i> 6 aylık premium <br></br> <i class="fas fa-angle-double-right"></i> 3 aylık gold üyelik <br></br> <i class="fas fa-angle-double-right"></i> Tüm premium gerektiren komutları kullanabilme <br></br> <i class="fas fa-angle-double-right"></i> 19,99₺ / 6 aylık</p>
        <a type="button" class="btn login-btn btn-outline-accent my-2 my-sm-0" href="https://discord.gg/wRbgTkVVB2" style="font-size: 10px !important; border-align: center; font-family: poppins !important;"><i class="fas fa-lira-sign "></i> Satın al</a>
  </div>
        </div>
    </div>
</div>


<%- include('partials/_footer'); -%>

</body>
</html>
