<html> 

<head>    
  <%- include('partials/_header'); -%>
  </head>
  
    <title>Taxperia Bot</title>

<body>

<div class="features">
    <div class="title">Hakkımızda</div>
    <div class="cards">

        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; ">Sevgili Kullanıcımız.</h5>
                <p class="card-text">Güvenliğiniz bizim için önemli. Bu sebeple botumuz ile sizlere hizmet vermekten her zaman mutluluk duyarız.</p>
            <p class="card-text">
               </p>
              
               <h5 class="card-title">
                 Taxperia nedir?
              </h5>
              
              <p class="card-text">
Taxperia sunucularınız için geliştirilen Türk yapımı koruma botudur. Sadece koruma amaçlı değil farklı işlevler içinde sizlerin karşınıza geleceğiz. Mobil uygulama, bot için bir web panel bunlara örnek olabilir. Taxperia az kişiye sahip bir ekiptir. Yapılan değişiklikleri hata düzeltmeleri gibi işlevler geç zamanlarda düzeltilebilir olsada elimizden geleni yapmaktayız.
              </p>
              
               <h5 class="card-title">
                Bu bot sunucumu patlatır mı?
              </h5>
              
                            <p class="card-text">
                         Hayır, botumuz sunucunuzu korumak için tasarlanmıştır. </p>
              
              
                             <h5 class="card-title">
              Siz kimsiniz?
              </h5>
              
               <p class="card-text">
  Biz bu botun sahipleriyiz. Küçük bir ekibiz. Bizde sizler gibiyiz. Aramızda güçlü bir arkadaşlık bağımız mevcut. Yeri geldiğinde sohbet ederiz, oyun oynarız, dertleşiriz. Ama bizim tek amacımız sizleri her türlü kötü amaçlı olan kişilerden korumaktır. Bu zamana kadar discord uygulamasında insanlara yardım etmek için uğraştım ve hep uğraşacağım.    </p>
              
              
                      <h5 class="card-title">
              Sizin ekibinize katılabilir miyim?
              </h5>
              
               <p class="card-text">
                Tabiki de evet. Ekibimize gelmenizden memnun oluruz. Katılmak için discord sunucumuza gelebilirsiniz. <a style="color: pink" target="_blank" href="/discord">Buraya tıklayarak gidebilirsin. </a> </p>
              
              
              
          </div>
        </div>

    </div>
</div>


<%- include('partials/_footer'); -%>
    
  
</html>