<html> 
<head>    
      <%- include('partials/_header', {bot, user, path}) %>
  
  </head>
<title>Taxperia Bot</title>
<body>
  
  <style>
    
    
  /*/.heading {
  background-image: url("https://cdn.discordapp.com/attachments/891814077654003742/924322299233075240/Taxperiawallkopya.png") !important;
}/*/ 
  
  </style>

<div class="heading">
 <!--- <img style=" height: 700px; overflow: hidden;" src="https://cdn.discordapp.com/attachments/891814077654003742/924322299233075240/Taxperiawallkopya.png"> --->
  <div class=group_1_5_31>  
  <p class="display-5 title">Türk yapımı discord koruma ve eğlence botu</p>
    <p class="subtitle">Taxperia bot discord sunucunuzu korumak için geliştirilen ve gün geçtikçe büyüyen bir discord botudur.<br />Tek amacı sunucu korumakla kalmayıp içinde kullanabileceğiniz moderasyon, eğlence ve bazı kullanıcı komutları bulunan bir bottur. </p>
    <a class="btn btn-primary btn-lg" href="https://discord.gg/wRbgTkVVB2" target="_blank" role="button"><i class='bx bxl-discord-alt bx-xs' style='color:#ffffff'></i> </i>Destek</a>
    <a class="btn btn-primary btn-lg" href="https://discord.com/oauth2/authorize?client_id=693134673450106890&scope=bot&permissions=940846142" target="_blank" role="button"> <i class='bx bx-message-square-add' style='color:#ffffff' ></i>  Discord'a Ekle</a>
    
     
</div>     
  </div>
  
  

  <div class="features">
    <div class="cards">
        <div style="width: 80rem; height: 33rem">
        <div class="card-body">
            <h5 class="card-title">Komutlar</h5>
            <img style="float: right; border-radius: 20px;" src="https://cdn.discordapp.com/attachments/768488853110652938/924336982174343198/unknown.png" alt="Pineapple" width="418px" height="356px"> 
            <p class="card-text" style="position: absolute; padding: 10px; width: 600px;  text-align: left; " >Sizlerin kullanabileceği 150'den fazla komut ile sizlere hizmet vermekteyiz. Bu komutlar discord sunucunuzu daha iyi bir hale getirmek için sürekli olarak güncellenmekte ve düzenlenmektedir. Gün geçtikçe eklenen ve eklenilmeye devam eden komutları sende denemelisin. Moderasyon komutları, koruma komutları, eğlence komutları gibi birçok komut sizi bekliyor. Sen neyi bekliyorsun?</p>
        </div>
    </div>
       <!---   <div class="card" style="width: 80rem; height: 35rem">
            <div class="card-body">
              <h5 class="card-title"  style="text-align: right;">Slash Komutları</h5> 
             <img style="float: left; border-radius: 20px;" src="https://media.discordapp.net/attachments/891814077654003742/924332118627213342/onemli_kopya.png" alt="Pineapple" width="791px" height="428px"> 
                <a class="card-text" style="position: absolute; padding: 10px; width: 600px;  text-align: right; font-size: 18px; color: white;" >Botumuz üzerinde slash komutları yakında sizlerle olacak. Geliştirici ekibimiz bu konu hakkında çalışmalara başladı. En kısa sürede slash komutlarını aktif etmeye başlayacaklardır. Bu özellik sayesinde komut kullanımı kolaylaşacak ve botların mesajlarının karışması engellenecek.</a>
         <!----   <img src="https://media.discordapp.net/attachments/891814077654003742/923176799251349514/unknown.png" style="width: 800px; position: absolute; text-align: right; "> -----> 
            </div>
        </div>
    </div>
</div>
  
  

  


  

  
     <%- include('partials/_cerez', {bot, user, path}) %>

<footer>
     <%- include('partials/_footer', {bot, user, path}) %></footer>
  

  
</body>
</html>




