<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Yakında buradayız.">
    <meta name="author" content="Taxperia">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="Taxperia" /> <!-- website name -->
	<meta property="og:site" content="https://taxperia.tk" /> <!-- website link -->
	<meta property="og:title" content="Taxperia Bakım"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="Bu site şuanlık bakımdadır. Yakında tekrardan sizlerle olacağız." /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="https://cdn.discordapp.com/attachments/768490283770839080/842798834420547614/Taxperia1.png" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Bakımdayız</title>
    
    <!-- Styles -->
  <script src="https://kit.fontawesome.com/b9930c15d0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap" rel="stylesheet">
    <link href="bakim3.css" rel="stylesheet">
    <link href="bakim2.css" rel="stylesheet">
	<link href="bakim.css" rel="stylesheet">
  
  
    <!-- Scripts -->
    <script src="jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
    <script src="scripts.js"></script> <!-- Custom scripts -->
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body>
    
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <div class="countdown">
                            <span id="clock"></span>
                        </div> <!-- end of countdown -->
                      
                      
                    



      
      </body>
                  
                  </html>